<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Blood_Donor_Management_System</display-name>
   <welcome-file-list>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CampaignListServlet</display-name>
    <servlet-name>CampaignListServlet</servlet-name>
    <servlet-class>controller.CampaignListServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>DonorRegisterServlet</display-name>
    <servlet-name>DonorRegisterServlet</servlet-name>
    <servlet-class>controller.DonorRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddCampaignServlet</display-name>
    <servlet-name>AddCampaignServlet</servlet-name>
    <servlet-class>controller.AddCampaignServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminCampaignListServlet</display-name>
    <servlet-name>AdminCampaignListServlet</servlet-name>
    <servlet-class>controller.AdminCampaignListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCampaignServlet</display-name>
    <servlet-name>DeleteCampaignServlet</servlet-name>
    <servlet-class>controller.DeleteCampaignServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateCampaignServlet</display-name>
    <servlet-name>UpdateCampaignServlet</servlet-name>
    <servlet-class>controller.UpdateCampaignServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>SearchDonorServlet</display-name>
    <servlet-name>SearchDonorServlet</servlet-name>
    <servlet-class>controller.SearchDonorServlet</servlet-class>
  </servlet>
</web-app>