<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Blood_Donor_Management_System</display-name>
   <welcome-file-list>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
    <welcome-file>CampaignListServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CampaignListServlet</display-name>
    <servlet-name>CampaignListServlet</servlet-name>
    <servlet-class>controller.CampaignListServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>DonorRegisterServlet</display-name>
    <servlet-name>DonorRegisterServlet</servlet-name>
    <servlet-class>controller.DonorRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AddCampaignServlet</display-name>
    <servlet-name>AddCampaignServlet</servlet-name>
    <servlet-class>controller.AddCampaignServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>AdminCampaignListServlet</display-name>
    <servlet-name>AdminCampaignListServlet</servlet-name>
    <servlet-class>controller.AdminCampaignListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DeleteCampaignServlet</display-name>
    <servlet-name>DeleteCampaignServlet</servlet-name>
    <servlet-class>controller.DeleteCampaignServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>UpdateCampaignServlet</display-name>
    <servlet-name>UpdateCampaignServlet</servlet-name>
    <servlet-class>controller.UpdateCampaignServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>SearchDonorServlet</display-name>
    <servlet-name>SearchDonorServlet</servlet-name>
    <servlet-class>controller.SearchDonorServlet</servlet-class>
  </servlet>
   <servlet>
    <description></description>
    <display-name>DeleteDonorServlet</display-name>
    <servlet-name>DeleteDonorServlet</servlet-name>
    <servlet-class>controller.DeleteDonorServlet</servlet-class>
  </servlet>
   <servlet>
   <description></description>
    <display-name>GetDonorServlet</display-name>
    <servlet-name>GetDonorServlet</servlet-name>
    <servlet-class>controller.GetDonorServlet</servlet-class>
  </servlet>
 <servlet>
   <description></description>
    <display-name>UpdateDonorServlet</display-name>
    <servlet-name>UpdateDonorServlet</servlet-name>
    <servlet-class>controller.UpdateDonorServlet</servlet-class>
  </servlet>
   <servlet>
   <description></description>
    <display-name>AddAdminServlet</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>controller.AddAdminServlet</servlet-class>
  </servlet>
   <servlet>
   <description></description>
    <display-name>SearchAdminServlet</display-name>
    <servlet-name>SearchAdminServlet</servlet-name>
    <servlet-class>controller.SearchAdminServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>DeleteAdminServlet</display-name>
    <servlet-name>DeleteAdminServlet</servlet-name>
    <servlet-class>controller.DeleteAdminServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>AddDonationServlet</display-name>
    <servlet-name>AddDonationServlet</servlet-name>
    <servlet-class>controller.AddDonationServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>SearchDonationServlet</display-name>
    <servlet-name>SearchDonationServlet</servlet-name>
    <servlet-class>controller.SearchDonationServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>DeleteDonationServlet</display-name>
    <servlet-name>DeleteDonationServlet</servlet-name>
    <servlet-class>controller.DeleteDonationServlet</servlet-class>
  </servlet>
   <servlet>
  <description></description>
    <display-name>DonorDonationListServlet</display-name>
    <servlet-name>DonorDonationListServlet</servlet-name>
    <servlet-class>controller.DonorDonationListServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>DonorPorfileServlet</display-name>
    <servlet-name>DonorPorfileServlet</servlet-name>
    <servlet-class>controller.DonorPorfileServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>DonorCampaignListServlet</display-name>
    <servlet-name>DonorCampaignListServlet</servlet-name>
    <servlet-class>controller.DonorCampaignListServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>DonorAllCampaignsServlet</display-name>
    <servlet-name>DonorAllCampaignsServlet</servlet-name>
    <servlet-class>controller.DonorAllCampaignsServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>AdminDonorProfileServlet</display-name>
    <servlet-name>AdminDonorProfileServlet</servlet-name>
    <servlet-class>controller.AdminDonorProfileServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>AdminDonorDonationListServlet</display-name>
    <servlet-name>AdminDonorDonationListServlet</servlet-name>
    <servlet-class>controller.AdminDonorDonationListServlet</servlet-class>
  </servlet>
  <servlet>
  <description></description>
    <display-name>PasswordResetServlet</display-name>
    <servlet-name>PasswordResetServlet</servlet-name>
    <servlet-class>controller.PasswordResetServlet</servlet-class>
  </servlet>
</web-app>